<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
              <span class="glyphicon glyphicon-plus">
              </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<ul class="list-group">
    <li ng-repeat="website in model.websites" class="list-group-item">
        <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
            {{website.name}}
        </a>
        <a href="#/user/{{website.developerId}}/website/{{website._id}}" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-play"></span>
        </a>
    </li>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--a class="btn btn-primary btn-block"
   href="#/user/{{model.user._id}}/website">Websites</a>
<a class="btn btn-danger btn-block"
   href="#/login">Logout</a-->