<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="website-new.html" class="navbar-link">
              <span class="glyphicon glyphicon-plus">
              </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand" href="#">
            </a>
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="../page/page-list.html">{{website.name}}</a>
            <a href="#/user/{{website._developerId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </li>
    </ul>
</div>