input {
    margin-bottom: 5px;

}
/**
.btn-primary {
    background: cornflowerblue;
    border-radius: 2px;
}*/

body {
    padding-top: 60px;

}

/*paragraph with class navbar AND pull right*/
p.navbar-text.pull-right {
  margin-right: 15px;
}