input {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn {
    margin-bottom: 5px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.mike-widget-tool {
    position: absolute;
    right: 0px;
    background-color: white;
    padding-left: 6px;
    padding-bottom: 3px;
    border-bottom-left-radius: 8px;
}

.mike-widget {
    /* maybe do auto-centering here */
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form.ng-submitted input.ng-invalid, form.ng-submitted select.ng-invalid {
    background-color: rgba(230, 0, 20, 0.10);
    border: .5px solid rgba(230, 0, 20, 0.30);
}

/*#email.form-control.ng-invalid.ng-invalid-email{*/
    /*background-color: rgba(230, 0, 20, 0.11);*/
    /*border-color: rgba(230, 0, 20, 0.11);*/
    /*border: .5px solid rgba(230, 0, 20, 0.31);*/
/*}*/

button {
    border: none;
    background: none;
}