input {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn {
    margin-bottom: 5px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.mike-widget-tool {
    position: absolute;
    right: 0px;
    background-color: white;
    padding-left: 6px;
    padding-bottom: 3px;
    border-bottom-left-radius: 8px;
}