input, .btn {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #454545 !important;
}

@media only screen and (max-width: 600px) {
    p.navbar-text.pull-right.anchor {
        /*p.navbar-text.navbar-fixed-top.pull-right.anchor {*/
        /*background-color: blue !important;*/
        display: block;
        position: relative;
        top: -59.3px;
        /*visibility: hidden;*/
    }

    #tagline {
        -top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    p.navbar-text.pull-right.anchor {
        /*p.navbar-text.navbar-fixed-top.pull-right.anchor {*/
        /*background-color: blue !important;*/
        display: block;
        position: relative;
        top: -59.3px;
        /*visibility: hidden;*/
    }
}

.btn {
    margin: 3px;
    border-radius: 7px;
}

.btn:focus,.btn:active {
    outline: none !important;
}

.navbar {
    background-color: black !important;
    opacity: .8;
    max-height: 60px;
}

.navbar-inverse .navbar-brand:hover, .navbar-brand:focus, .navbar-link:hover, .navbar-link:focus, .mybutton:focus {
    color: white !important;
    text-decoration: none;
}

.mybutton, button {
    text-align: center;
    color: white;
    border: none;
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    transition: border-color .2s ease-in-out;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 3px;
    /*cursor: pointer;*/
}

.mybutton:hover, button:hover {
    color: white;
    border-color: white;
    text-decoration: none;
    cursor: pointer;
}

.mybreadcrumb, .mybreadcrumb:hover {
    color: white;
    text-decoration: none;
    cursor: default;
}

p.navbar-text.pull-right {
    text-anchor: start;
}


#image {
    position: absolute;
    width: 100%;
    opacity: .85;
    left: 0;
    top: 0;
    z-index: -1;
}

p.navbar-text.pull-right {
    margin-right: 6px;
}

p.navbar-text.pull-left {
    margin-left: 6px;
}

.flexbox-container {
    display: flex;
}

.flexbox-container > div {
    width: 50%;
    padding: 0px;
}

.flexbox-container > div:first-child {
    margin-right: 8px;
}

.container {
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 800px;
    color: #f6f6f6;
}

.top-right, .top-right:hover {
    color: #f6f6f6;
    text-decoration: none !important;
}