<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>


<h2>Register</h2>
<form id="myForm" name="myForm" novalidate>
    <input ng-model="username"
           name="username"
           class="form-control"
           placeholder="username"
           type="text" required/>
    <span ng-show="myForm.$submitted && myForm.username.$invalid">
        Username is required
    </span>
    <input ng-model="password"
           name="password"
           class="form-control"
           placeholder="password"
           type="password" required/>
    <input ng-model="verify"
           name="verify"
           class="form-control"
           placeholder="verify password"
           type="password" required/>
    <span ng-show="myForm.$submitted && myForm.verify.$invalid">
        Both passwords fields are required
    </span>
    <span ng-show="myForm.$submitted && myForm.password != myForm.verify">
        <br>
        Both passwords fields must match
    </span>
</form>

<!--<input ng-click="model.register(username, password, verify)"-->
       <!--type="submit"-->
       <!--class="btn btn-info" value="Register Test">-->

<button ng-click="model.register(username, password, verify)"
        type="submit"
        form="myForm"
        class="btn btn-primary btn-block">Register</button>

<!--<a ng-click="model.register(username, password, verify)"-->
   <!--class="btn btn-primary btn-block"-->
   <!--type="submit">Register</a>-->
<a class="btn btn-danger btn-block"
   href="#/login">Cancel</a>

