<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="model.updateWidget()"
                        class="navbar-link"
                        type="submit"
                        form="myForm" >
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </button>
            </p>
        </div>
    </div>
</nav>

<form id="myForm" name="myForm" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="name"
               name="name"
               placeholder="Widget Name" required>
        <span ng-show="myForm.$submitted && myForm.name.$invalid">
            Heading name is required
        </span>
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="text"
               name="text"
               placeholder="Widget Text" required>
        <span ng-show="myForm.$submitted && myForm.text.$invalid">
            Text is required
        </span>
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <select ng-model="model.widget.size"
                id="size"
                name="size"
                class="form-control" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6" selected>6</option>
        </select>
        <span ng-show="myForm.$submitted && myForm.size.$invalid">
            Heading size is required
        </span>
    </div>
</form>

<a class="btn btn-danger btn-block"
   ng-click="model.deleteWidget()">
    Delete
</a>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>