<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left">
                            </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Chooser
            </a>
        </div>
    </div>
</nav>

<a href="" ng-click="model.createWidget('HEADING')">Heading</a>
<br/>
<a href="" ng-click="model.createWidget('IMAGE')">Image</a>
<br/>
<a href="" ng-click="model.createWidget('YOUTUBE')">YouTube</a>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand" href="#">
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                </a>
            </p>
        </div>
    </div>
</nav>