<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.html" class="navbar-link">
                                    <span class="glyphicon glyphicon-chevron-left">
                                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.html" class="navbar-link">
                                    <span class="glyphicon glyphicon-ok">
                                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <a class="navbar-brand" href="#">
            </a>
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link">
                                    <span class="glyphicon glyphicon-user">
                                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               value="SpaceX"
               placeholder="Widget Name">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input type="text"
               class="form-control"
               id="text"
               placeholder="Widget Text">
    </div>
    <div class="form-group">
        <label for="size">URL</label>
        <input type="url"
               class="form-control"
               id="size"
               value="http://www.spacex.com/sites/spacex/files/itl_streak.jpg"
               placeholder="Widget Size">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input type="text"
               class="form-control"
               id="width"
               value="100%"
               placeholder="Widget Width">
    </div>
    <div class="form-group">
        <label for="upload">Upload</label>
        <input type="file"
               class="form-control"
               id="upload"
               value="100%"
               placeholder="Widget Width">
    </div>
</form>

<a class="btn btn-primary btn-block"
   href="widget-list.html">Upload Image</a>
<a class="btn btn-danger btn-block"
   href="widget-list.html">Delete</a>
