<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                THRIFTY
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" >
            <li role="button"><a ng-click="model.buy()"></span>BUY</a></li>
            <li role="button"><a ng-click="model.sell()"></span>SELL</a></li>
        </ul>
    </div>
</nav>

<!--nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Thrifty
            </a>
        </div>


        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>


    </div>
</nav-->

<div id="container">
    <img id="image" src="../images/projecthome.jpg"/>
    <h2 id="tagline">
        An online marketplace for used clothing
    </h2>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h4 id="explore"> Explore </h4>
